<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row mt20">
      <div class="col-md-6" *ngFor="let g of gymMachines">
        <mat-card
          [routerLink]="'/user-dashboard/gym-machines/' + g.id"
          class="mb20 cursorHand"
        >
          <mat-card-header>
            <div mat-card-avatar class="ml20 example-header-image"></div>
            <mat-card-title> {{ g.name }} </mat-card-title>
            <mat-card-subtitle>
              {{ g.model }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-card-actions>
              <button mat-icon-button color="warn" class="ml20">
                <mat-icon matBadge="{{ g.like }}" matBadgeColor="primary"
                  >favorite</mat-icon
                >
              </button>
              <button
                routerLink="/user-dashboard/instructions"
                mat-button
                color="accent"
              >
                Instrucciones
              </button>
              <button *ngIf="g.numMachine" mat-button color="accent">
                Nº de máquinas: {{ g.numMachine }}
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
