<div *ngIf="editMode" class="bootstrap-wraper">
  <mat-card>
    <div class="row mt20">
      <div class="col-md-12">
        <u>
          <mat-card-title class="text-center mt20">
            Editar tabla de entrenamiento</mat-card-title
          >
        </u>
      </div>
    </div>

    <mat-card-content>
      <form (ngSubmit)="formSubmit()">
        <mat-form-field class="full-width mt20" appearance="outline">
          <mat-label>Nombre: </mat-label>
          <input
            required
            matInput
            [(ngModel)]="trainingTable.name"
            name="name"
            placeholder="Introduzca su nombre..."
          />
        </mat-form-field>

        <mat-form-field class="w100" appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea
            [(ngModel)]="trainingTable.description"
            type="text"
            name="descripción"
            placeholder="Introduzca la descripción"
            matInput
            rows="8"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Tipo de entrenamiento</mat-label>
          <mat-select
            required
            name="trainingTypes"
            [(ngModel)]="trainingTable.typeTraining"
          >
            <mat-option></mat-option>
            <mat-option *ngFor="let t of trainingTypes" [value]="t">
              {{ t }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Tiempo de descanso (seg):</mat-label>
          <input
            matInput
            [(ngModel)]="trainingTable.breakTime"
            name="breakTime"
            type="number"
            placeholder="Introduzca el tiempo de descanso..."
          />
        </mat-form-field>

        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Tiempo de entrenamiento (días):</mat-label>
          <input
            matInput
            [(ngModel)]="trainingTable.trainingDuration"
            name="breakTime"
            type="number"
            placeholder="Introduzca el nº de días de entrenamiento..."
          />
        </mat-form-field>

        <mat-form-field class="col-md-6 mt20" appearance="outline">
          <mat-label>Seleccionar ejercicios:</mat-label>
          <mat-select
            [(ngModel)]="trainingTable.listTraining"
            name="listTraining"
            multiple
          >
            <mat-option
              *ngFor="let training of listTraining"
              [value]="training"
              >{{ training.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-6" appearance="outline">
          <mat-label>Calorías quemadas :</mat-label>
          <input
            [(ngModel)]="trainingTable.caloriesBurned"
            type="number"
            name="caloriesBurned"
            matInput
          />
        </mat-form-field>

        <mat-form-field class="col-md-6 mt20" appearance="outline">
          <mat-label>Inicio de la tabla</mat-label>
          <input
            matInput
            [matDatepicker]="pickerInitDate"
            [(ngModel)]="trainingTable.initDate"
            required
            name="initDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerInitDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerInitDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-md-6" appearance="outline">
          <mat-label>Finalización de la tabla</mat-label>
          <input
            matInput
            required
            [matDatepicker]="pickerEndDate"
            [(ngModel)]="trainingTable.endDate"
            name="endDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerEndDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerEndDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w100 mt20" appearance="outline">
          <mat-label>Seleccionar usuario</mat-label>
          <mat-select [(ngModel)]="trainingTable.user" name="user" required>
            <mat-option></mat-option>
            <mat-option *ngFor="let user of users" [value]="user">{{
              user.username
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w100" appearance="outline">
          <mat-label>Observaciones:</mat-label>
          <textarea
            [(ngModel)]="trainingTable.observation"
            name="observation"
            matInput
            placeholder="Ej. Descripción breve de mejoras del usuario ..."
          ></textarea>
        </mat-form-field>

        <div class="container text-center">
          <button mat-raised-button color="primary">Guardar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<!-- modo consulta -->

<div *ngIf="!editMode" class="bootstrap-wraper mt20">
  <mat-card>
    <div class="row ml10">
      <div class="col-md-12">
        <div class="text-center">
          <h1>
            <b> Consultar tabla de entrenamiento </b>
          </h1>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="col-md-8">
        <mat-card-title class="mt20"> Nombre:</mat-card-title>
        <mat-card-content>
          <b>
            <i>
              {{ trainingTable.name }}
            </i>
          </b>
        </mat-card-content>
      </div>
      <div class="col-md-2 text-center">
        <mat-card-subtitle class="mt20">Fecha de creación:</mat-card-subtitle>
        <mat-card-content class="text-center">
          <b>
            {{ trainingTable.creationDate | date : "dd/MM/yy " }}
          </b>
        </mat-card-content>
      </div>

      <div class="col-md-2 text-center">
        <mat-card-subtitle class="mt20">Última modificación:</mat-card-subtitle>
        <mat-card-content class="text-center">
          <b> </b>
        </mat-card-content>
      </div>

      <div class="col-md-12">
        <mat-card-title class="mt20"> Descripción:</mat-card-title>
        <mat-card-content>
          <b>
            <i>
              {{ trainingTable.description }}
            </i>
          </b>
        </mat-card-content>
      </div>

      <div class="col-md-6">
        <mat-card-title class="mt20"> Tipo de entrenamiento:</mat-card-title>
        <mat-card-content>
          <span>
            {{ trainingTable.typeTraining }}
          </span>
        </mat-card-content>
      </div>

      <div class="col-md-6">
        <mat-card-title class="mt20">
          Calorías
          <span> <mat-icon>whatshot</mat-icon> </span>:
        </mat-card-title>
        <mat-card-content>
          <i>
            <b> {{ trainingTable.caloriesBurned }} </b>
          </i>
        </mat-card-content>
      </div>

      <div class="col-md-6 text-center">
        <mat-card-title class="mt20"> Inicio de la tabla:</mat-card-title>
        <mat-card-content class="text-center">
          <span>
            {{ trainingTable.initDate | date : "dd/MM/yy" }}
          </span>
        </mat-card-content>
      </div>
      <div class="col-md-6 text-center">
        <mat-card-title class="mt20"> Finalización de la tabla:</mat-card-title>
        <mat-card-content class="text-center">
          <span>
            {{ trainingTable.endDate | date : "dd/MM/yy" }}
          </span>
        </mat-card-content>
      </div>
      <div class="col-md-6">
        <mat-card-title class="mt20"> Tiempo de descanso (seg):</mat-card-title>
        <mat-card-content>
          <b>
            <i>
              {{ trainingTable.breakTime }}
            </i>
          </b>
        </mat-card-content>
      </div>
      <div class="col-md-6">
        <mat-card-title class="mt20">
          Tiempo de duración (días):</mat-card-title
        >
        <mat-card-content>
          <b>
            <i>
              {{ trainingTable.trainingDuration }}
            </i>
          </b>
        </mat-card-content>
      </div>

      <div
        *ngIf="
          trainingTable.user &&
          trainingTable.user.username &&
          rolLogin === 'ADMIN'
        "
        [routerLink]="'/admin/users/' + trainingTable.user.id"
        class="user cursorHand col-md-6"
      >
        <mat-card-title class="mt20"> Usuario asignado:</mat-card-title>
        <mat-card-content>
          {{ trainingTable.user.username }}
        </mat-card-content>
      </div>

      <div
        *ngIf="
          trainingTable.user && trainingTable.user.name && rolLogin === 'ADMIN'
        "
        class="col-md-6"
      >
        <mat-card-title class="mt20">Nombre del usuario:</mat-card-title>
        <mat-card-content>
          {{ trainingTable.user.name }}
        </mat-card-content>
      </div>
      <div
        *ngIf="
          trainingTable.listTraining &&
          trainingTable.listTraining.length != 0 &&
          rolLogin === 'ADMIN'
        "
        class="col-md-12 text-center"
      >
        <mat-card-title class="mt20">
          <u> <b> Ejercicios de entrenamiento: </b></u>
        </mat-card-title>
      </div>
      <div class="card" *ngFor="let t of trainingTable.listTraining">
        <mat-card
          *ngIf="rolLogin === 'ADMIN'"
          [routerLink]="'/admin/trainings/' + t.id"
          class="col-md-3 mt20 ml20 cursorHand box"
        >
          <mat-list>
            <mat-card-header class="headerTitle">
              <mat-card-title> {{ t.name }} </mat-card-title>
            </mat-card-header>
            <span>{{ t.description }}</span>
            <br />
            <mat-card-content class="content">
              {{ t.typeTraining }}
            </mat-card-content>
          </mat-list>
        </mat-card>
        <ng-template #templateName> </ng-template>
      </div>
      <div
        *ngIf="
          trainingTable.listTraining &&
          trainingTable.listTraining.length != 0 &&
          rolLogin === 'USER'
        "
        class="col-md-12 text-center"
      >
        <mat-card-title class="mt20">
          <u> <b> Ejercicios de entrenamiento: </b></u>
        </mat-card-title>
      </div>
      <div class="card" *ngFor="let t of trainingTable.listTraining">
        <mat-card
          *ngIf="rolLogin === 'USER'"
          [routerLink]="
            '/user-dashboard/trainings/' + t.typeTraining + '/' + t.id
          "
          class="col-md-3 mt20 mr20 cursorHand box"
        >
          <mat-list>
            <mat-card-header class="headerTitle">
              <mat-card-title> {{ t.name }} </mat-card-title>
            </mat-card-header>
            <span>{{ t.description }}</span>
            <br />
            <mat-card-content class="content">
              {{ t.typeTraining }}
            </mat-card-content>
          </mat-list>
        </mat-card>
        <ng-template #templateName> </ng-template>
      </div>
    </div>
  </mat-card>
</div>
