<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mt20">
          <mat-card-header>
            <mat-card-title> Bienvenido :) </mat-card-title>
          </mat-card-header>
          <mat-card-subtitle class="ml20">Panel de usuario:</mat-card-subtitle>
          <mat-card-content class="ml30">
            <mat-divider></mat-divider>
            <br />

            <h1>Acciones que puedes realizar :</h1>
            <ul>
              <li>Consultar las <b>máquinas</b> que hay en el sitema</li>
              <li>Consultar los <b>ejercicios</b> propuestos por el monitor</li>
              <li>
                Consultar las <b>tablas de ejercicios</b> realizadas por el
                monitor
              </li>
              <li>Ver los <b>eventos</b> que realizamos</li>
            </ul>
            <mat-divider></mat-divider>
            <br />
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
              magnam architecto dicta ullam unde velit repellat rerum quae
              sapiente at, ipsum provident sed necessitatibus modi soluta,
              cupiditate voluptate maxime minima reiciendis nostrum totam amet
              asperiores. Recusandae impedit odit, quam itaque voluptates
              doloribus! Qui maxime illum reiciendis earum blanditiis fugit,
              minima facere sequi, iure placeat nesciunt deleniti nulla quasi id
              magnam repellat delectus! Vitae rerum ipsam minima fugit aut
              voluptatibus omnis unde temporibus error adipisci eaque fugiat
              repellendus incidunt, tenetur sequi dolores nesciunt ab fuga cum
              ipsa. Commodi nisi laborum eum omnis voluptates quod, cupiditate
              veniam saepe blanditiis incidunt nulla odit?
            </p>
            <mat-divider></mat-divider>
            <br />
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
