<div *ngIf="editMode" class="bootstrap-wraper">
  <div class="row mt20">
    <div class="col-md-12">
      <div class="head">
        <img src="../../../../assets/image/membership.png" alt="" />
        <h1>
          Editar Usuario:
          <span class="userName">{{ user.username }}</span>
        </h1>
      </div>
      <mat-divider></mat-divider>

      <mat-card>
        <mat-card-header>
          <mat-card-title> Datos del Usuario: </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nombre </mat-label>
              <input
                required
                matInput
                [(ngModel)]="user.name"
                name="name"
                placeholder="Introduzca su nombre..."
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input
                required
                matInput
                [(ngModel)]="user.surname"
                name="surname"
                placeholder="Introduzca sus apellidos..."
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                required
                matInput
                [(ngModel)]="user.email"
                name="email"
                type="email"
                placeholder="Ex. pat@example.com"
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Número de teléfono</mat-label>
              <input
                required
                matInput
                [(ngModel)]="user.phone"
                name="phone"
                placeholder="Introduzca el número de teléfono..."
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="user.birthDate"
                name="birthDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Altura (cm)</mat-label>
              <input
                matInput
                [(ngModel)]="user.height"
                name="height"
                type="number"
                placeholder="Introduzca la altura..."
              />
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Peso (kg)</mat-label>
              <input
                matInput
                [(ngModel)]="user.weight"
                name="weight"
                type="number"
                placeholder="Introduzca el peso..."
              />
            </mat-form-field>

            <div class="container text-center">
              <button
                *ngIf="userLogin == user.username"
                [routerLink]="'/admin/profile/'"
                (click)="modeConsult()"
                mat-raised-button
                color="accent"
              >
                Cancelar
              </button>
              <button
                *ngIf="userLogin != user.username"
                [routerLink]="'/admin/users/' + user.id"
                (click)="modeConsult()"
                mat-raised-button
                color="accent"
              >
                Cancelar
              </button>
              <button class="ml20" mat-raised-button color="primary">
                Guardar
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- modo consulta -->
<div *ngIf="!editMode" class="bootstrap-wraper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-12">
        <div class="head">
          <img src="../../../../assets/image/membership.png" alt="" />
          <h1>
            Consultar Usuario:
            <span class="userName">{{ user.username }}</span>
          </h1>
        </div>
        <mat-divider></mat-divider>
        <mat-card>
          <div class="row" style="justify-content: space-around">
            <div class="col-md-5 text-center">
              <u>
                <mat-card-title class="mt20"> Usuario:</mat-card-title>
              </u>
              <mat-card-content>
                {{ user.username }}
              </mat-card-content>
            </div>
            <div class="col-md-5 text-center">
              <u>
                <mat-card-title class="mt20"> Password:</mat-card-title>
              </u>
              <mat-card-content> **** </mat-card-content>
            </div>
            <div class="col-md-3 text-center">
              <u>
                <mat-card-title class="mt20"> Nombre:</mat-card-title>
              </u>
              <mat-card-content>
                {{ user.name }}
              </mat-card-content>
            </div>
            <div class="col-md-3 text-center">
              <u>
                <mat-card-title class="mt20"> Apellidos:</mat-card-title>
              </u>
              <mat-card-content> {{ user.surname }} </mat-card-content>
            </div>
            <div class="col-md-2 text-center">
              <u>
                <mat-card-title class="mt20"> Correo:</mat-card-title>
              </u>

              <mat-card-content>
                {{ user.email }}
              </mat-card-content>
            </div>
            <div class="col-md-2 text-center">
              <u>
                <mat-card-title class="mt20"> Teléfono:</mat-card-title>
              </u>
              <mat-card-content> {{ user.phone }} </mat-card-content>
            </div>

            <div *ngIf="user.height" class="col-md-4 text-center">
              <u>
                <mat-card-title class="mt20">
                  Altura <span>(cm)</span> :</mat-card-title
                >
              </u>
              <mat-card-content> {{ user.height }} </mat-card-content>
            </div>
            <div *ngIf="user.height" class="col-md-4 text-center">
              <u>
                <mat-card-title class="mt20">
                  Calorías
                  <span> <mat-icon>whatshot</mat-icon> </span>:
                </mat-card-title>
              </u>
              <mat-card-content>
                {{ user.caloriesBurned }}
              </mat-card-content>
            </div>

            <div *ngIf="user.weight" class="col-md-4 text-center">
              <u>
                <mat-card-title class="mt20">
                  Peso <span>(kg)</span> :</mat-card-title
                >
              </u>
              <mat-card-content> {{ user.weight }} </mat-card-content>
            </div>

            <div *ngIf="user.height" class="col-md-12 text-center">
              <u>
                <mat-card-title class="mt20">
                  Frecuencia cardíaca
                  <span>(BPM)</span> :
                </mat-card-title>
              </u>
              <mat-card-content> 1200 </mat-card-content>
            </div>

            <div class="col-md-12 text-center">
              <br />
              <u>
                <mat-card-title class="mt20">
                  Evolución física: peso y porcentaje de grasa :</mat-card-title
                >
              </u>
              <app-user-graph></app-user-graph>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
