<app-spinner></app-spinner>

<div *ngIf="editMode" class="bootstrap-wraper">
  <div class="row mt20">
    <div class="col-md-12">
      <div class="head">
        <img src="../../../../assets/image/membership.png" alt="" />
        <h1>
          Editar Usuario:
          <span class="userName">{{ user.username }}</span>
        </h1>
      </div>
      <mat-divider></mat-divider>

      <mat-card>
        <mat-card-header>
          <mat-card-title> Datos del Usuario: </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nombre </mat-label>
              <input
                required
                matInput
                [(ngModel)]="user.name"
                name="name"
                placeholder="Introduzca su nombre..."
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input
                required
                matInput
                [(ngModel)]="user.surname"
                name="surname"
                placeholder="Introduzca sus apellidos..."
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                required
                matInput
                [(ngModel)]="user.email"
                name="email"
                type="email"
                placeholder="Ex. pat@example.com"
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Número de telefono</mat-label>
              <input
                required
                matInput
                [(ngModel)]="user.phone"
                name="phone"
                placeholder="Introduzca el número de telefono..."
              />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="user.birthDate"
                name="birthDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Altura (cm)</mat-label>
              <input
                matInput
                [(ngModel)]="user.height"
                name="heigth"
                type="number"
                placeholder="Introduzca la altura..."
              />
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Peso (kg)</mat-label>
              <input
                matInput
                [(ngModel)]="user.weight"
                name="weigth"
                type="number"
                placeholder="Introduzca el peso..."
              />
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary">Guardar</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- modo consulta -->
<div *ngIf="!editMode" class="bootstrap-wraper">
  <div class="row mt20">
    <div class="col-md-12">
      <div class="head">
        <img src="../../../../assets/image/membership.png" alt="" />
        <h1>
          Consultar Usuario:
          <span class="userName">{{ user.username }}</span>
        </h1>
      </div>
      <mat-divider></mat-divider>
    </div>

    <div class="col-md-6">
      <mat-card-title class="mt20"> Usuario:</mat-card-title>
      <mat-card-content>
        {{ user.username }}
      </mat-card-content>
    </div>
    <div class="col-md-6">
      <mat-card-title class="mt20"> Password:</mat-card-title>
      <mat-card-content> **** </mat-card-content>
    </div>
    <div class="col-md-3">
      <mat-card-title class="mt20"> Nombre:</mat-card-title>
      <mat-card-content>
        {{ user.name }}
      </mat-card-content>
    </div>
    <div class="col-md-3">
      <mat-card-title class="mt20"> Apellidos:</mat-card-title>
      <mat-card-content> {{ user.surname }} </mat-card-content>
    </div>
    <div class="col-md-3">
      <mat-card-title class="mt20"> Correo:</mat-card-title>
      <mat-card-content>
        {{ user.email }}
      </mat-card-content>
    </div>
    <div class="col-md-3">
      <mat-card-title class="mt20"> Télefono:</mat-card-title>
      <mat-card-content> {{ user.phone }} </mat-card-content>
    </div>

    <div *ngIf="user.height" class="col-md-6">
      <mat-card-title class="mt20"> Altura <span>(cm)</span> :</mat-card-title>
      <mat-card-content> {{ user.height }} </mat-card-content>
    </div>
    <div *ngIf="user.weight" class="col-md-6">
      <mat-card-title class="mt20"> Peso <span>(kg)</span> :</mat-card-title>
      <mat-card-content> {{ user.weight }} </mat-card-content>
    </div>

    <div
      *ngIf="listUserWeight && listUserWeight.length != 0"
      class="col-md-12 text-center"
    >
      <mat-card-title class="mt20"> Pesos:</mat-card-title>
    </div>
    <div class="card" *ngFor="let w of listUserWeight">
      <mat-card class="col-md-3 mt20 ml20 box">
        <mat-list>
          <mat-card-header class="headerTitle">
            <mat-card-title> {{ w.weight }} kg</mat-card-title>
          </mat-card-header>
          <br />
          <mat-card-content class="content"
            >Fecha:
            <span>{{ w.date | date : "dd/MM/yy HH:mm" }}</span>
          </mat-card-content>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
