<mat-toolbar color="primary">

    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>sports_gymnastics</mat-icon>
    </a>

    <span>GYMFIT!!</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Iniciar sesión
    </a>
    <a [routerLink]="'/register'" mat-icon-button class="example-icon favorite-icon mr20 ml70"
        aria-label="Example icon-button with heart icon">
        Registrar
    </a>

</mat-toolbar>