<mat-toolbar style="background: black; color: red">
  <a
    [routerLink]="'/'"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>sports_gymnastics</mat-icon>
  </a>

  <span>GYMFIT!!</span>
  <span class="example-spacer"></span>
  <a
    style="width: 10%"
    *ngIf="!loginService.isLoggedIn()"
    [routerLink]="'/login'"
    mat-icon-button
  >
    Iniciar sesión
  </a>
  <a
    style="width: 7%"
    *ngIf="!loginService.isLoggedIn()"
    [routerLink]="'/register'"
    mat-icon-button
  >
    Registrarse
  </a>

  <button
    *ngIf="loginService.isLoggedIn() && role === 'ADMIN'"
    mat-button
    mat-icon-button
    style="margin-right: 10px"
    class="mr20 example-icon favorite-icon"
    routerLink="/admin/profile"
    aria-label="Example icon-button with heart icon"
  >
    admin
  </button>

  <button
    *ngIf="loginService.isLoggedIn() && role === 'USER'"
    mat-button
    mat-icon-button
    style="margin-right: 10px"
    class="mr20 example-icon favorite-icon"
    routerLink="/user-dashboard/profile"
    aria-label="Example icon-button with heart icon"
  >
    {{ user.username }}
  </button>

  <a
    *ngIf="loginService.isLoggedIn()"
    (click)="logout()"
    mat-icon-button
    style="margin-right: 50px"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    Cerrar sesión
  </a>
</mat-toolbar>
