<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row mt20">
      <div class="col-md-6" *ngFor="let t of trainings">
        <mat-card
          [routerLink]="
            '/user-dashboard/trainings/' + typeTraining + '/' + t.id
          "
          class="mb20 cursorHand"
        >
          <mat-list>
            <div mat-subheader>Ejercicio</div>

            <mat-list-item>
              <mat-icon mat-list-icon>description</mat-icon>
              <div mat-line>{{ t.name }}</div>
              <div mat-line>{{ t.description }}</div>

              <button
                *ngIf="t.gymMachine"
                mat-icon-button
                matTooltip="Consultar máquina"
                class="ml20"
                [routerLink]="'/user-dashboard/gym-machines/' + t.gymMachine.id"
                color="black"
              >
                <mat-icon mat-list-icon>fitness_center</mat-icon>
              </button>

              <button
                routerLink="/user-dashboard/instructions"
                mat-button
                color="accent"
              >
                Instrucciones
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="trainings.length === 0">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <h1
        style="
          background: white;
          border-radius: 24px;
          padding: 10px;
          text-align: center;
        "
      >
        No hay ejercicios....
      </h1>
      <div class="row">
        <div class="col-md-12">
          <mat-card
            style="
              background: url(../../../assets/gif/empty-state.gif) no-repeat;
              min-height: 75vh;
              background-position: center;
              background-size: cover;
            "
          >
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
