<mat-card *ngIf="editMode">
  <div class="row">
    <div class="col-md-12">
      <u>
        <mat-card-title class="text-center mt20"> Editar evento</mat-card-title>
      </u>
    </div>
    <div class="col-md-8 offset-md-2">
      <form *ngIf="event" [formGroup]="myForm" (submit)="editEvent()">
        <mat-form-field class="w100 mt20" appearance="fill">
          <mat-label>Título</mat-label>
          <input
            formControlName="title"
            type="text"
            name="titulo"
            placeholder="Introduzca el título.."
            required
            matInput
          />

          <mat-error *ngIf="isValidField('title')">
            {{ getFieldError("title") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea
            formControlName="description"
            type="text"
            name="descripción"
            placeholder="Introduzca la descripción"
            matInput
            rows="8"
          ></textarea>
        </mat-form-field>

        <mat-slide-toggle
          class="mt20"
          name="published"
          formControlName="published"
          color="primary"
        >
          Estado de publicación</mat-slide-toggle
        >

        <div class="mt20 container text-center">
          <button
            [routerLink]="'/admin/events/'"
            (click)="modeConsult()"
            mat-raised-button
            color="accent"
          >
            <mat-icon>cancel</mat-icon>
            Cancelar
          </button>
          <button
            mat-raised-button
            class="ml20"
            color="primary"
            [disabled]="!myForm.valid"
          >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-card>

<div *ngIf="!editMode" class="bootstrap-wrapper">
  <mat-card>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="ml20 col-md-12 text-center">
            <h1>
              {{ myForm.controls["title"].value }}
            </h1>
          </div>
          <div class="col-md-12">
            <mat-divider></mat-divider>
          </div>
          <br />

          <div class="col-md-12 text-center">
            <img
              style="width: 30%"
              src="../../../../assets/gif/dancing-llama.gif"
            />
          </div>
          <div
            style="background: aliceblue; border-radius: 20px"
            class="col-md-12 mt20"
          >
            <mat-card-content>
              <span *ngIf="!event?.description">
                {{ getMessage("description") }}
              </span>

              <p>
                {{ myForm.controls["description"].value }}
              </p>
            </mat-card-content>
          </div>
          <br />
          <br />

          <div *ngIf="comments && comments.length != 0" class="mt20 col-md-12">
            <h3 class="titleComment">Comentarios:</h3>
            <mat-divider></mat-divider>
          </div>

          <div *ngIf="comments && comments.length != 0" class="mt20 col-md-12">
            <mat-card class="mt10 cardComment" *ngFor="let c of comments">
              <mat-card-header>
                <div mat-card-avatar class="ml20 example-header-image"></div>
                <mat-card-title> {{ c.userName }} </mat-card-title>
                <mat-card-subtitle>
                  {{ c.text }}
                </mat-card-subtitle>
              </mat-card-header>

              <mat-card-content class="content">
                Fecha:
                <span>{{ c.date | date : "dd/MM/yy HH:mm" }}</span>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="mt20 container text-center">
            <button
              matTooltip="Añadir un comentario"
              mat-raised-button
              color="primary"
              (click)="createComment()"
            >
              <mat-icon>add_comment</mat-icon> Comentar
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<!-- Mirar el objeto  -->
<pre>

  {{ myForm.controls["title"].value | json }}
</pre>
