<mat-card *ngIf="editMode">
  <h1>Editar evento</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form *ngIf="event" (submit)="editEvent()">
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Título</mat-label>
          <input
            [(ngModel)]="event.title"
            type="text"
            name="titulo"
            placeholder="Introduzca el título.."
            required
            matInput
          />
        </mat-form-field>
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea
            [(ngModel)]="event.description"
            type="text"
            name="descripcion"
            placeholder="Introduzca la descripción"
            matInput
            rows="8"
          ></textarea>
        </mat-form-field>

        <mat-slide-toggle
          class="mt20"
          name="published"
          [(ngModel)]="event.published"
          color="primary"
        >
          Estado de publicación</mat-slide-toggle
        >

        <div class="container text-center">
          <button mat-raised-button color="primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</mat-card>

<div *ngIf="!editMode" class="bootstrap-wrapper">
  <mat-card>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="ml20 col-md-12 text-center">
            <h1>{{ event.title }}</h1>
          </div>
          <div class="col-md-12">
            <mat-divider></mat-divider>
          </div>
          <div class="col-md-12 mt20">
            <mat-card-content>
              <p>
                {{ event.description }}
              </p>
            </mat-card-content>
          </div>
          <br />
          <br />

          <div *ngIf="comments && comments.length != 0" class="mt20 col-md-12">
            <h3 class="titleComment">Comentarios:</h3>
            <mat-divider></mat-divider>
          </div>

          <div *ngIf="comments && comments.length != 0" class="mt20 col-md-12">
            <mat-card class="mt10 cardComment" *ngFor="let c of comments">
              <mat-card-header>
                <div mat-card-avatar class="ml20 example-header-image"></div>
                <mat-card-title> {{ c.userName }} </mat-card-title>
                <mat-card-subtitle>
                  {{ c.text }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="content">
                Fecha:
                <span>{{ c.date | date : "dd/MM/yy HH:mm" }}</span>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="mt20 container text-center">
            <!-- <button mat-raised-button color="primary" (click)="createComment()">
              Comentar
            </button> -->

            <button mat-mini-fab color="primary" (click)="createComment()">
              <mat-icon>add_comment</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<!-- Mirar el objeto  -->
<!-- {{ eventData | json }} -->
