<mat-card class="mt20">
  <h1>Crear una tabla de entrenamiento</h1>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form [formGroup]="myForm" (ngSubmit)="formSubmit()">
            <mat-form-field class="w100 mt20" appearance="outline">
              <mat-label>Nombre: </mat-label>
              <input
                required
                autofocus
                type="text"
                name="name"
                matInput
                placeholder="Introduzca el titulo de la tabla..."
                formControlName="name"
              />
              <mat-error *ngIf="isValidField('name')">
                {{ getFieldError("name") }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w100 mt10" appearance="outline">
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                name="description"
                placeholder="Introduzca una breve explicación ...."
                rows="15"
                formControlName="description"
              ></textarea>
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="outline">
              <mat-label>Tipo de entrenamiento</mat-label>
              <mat-select
                required
                name="trainingTypes"
                formControlName="typeTraining"
              >
                <mat-option></mat-option>
                <mat-option *ngFor="let t of trainingTypes" [value]="t">
                  {{ t }}</mat-option
                >
              </mat-select>

              <mat-error *ngIf="isValidField('typeTraining')">
                {{ getFieldError("typeTraining") }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="outline">
              <mat-label>Tiempo de descanso (seg):</mat-label>
              <input
                matInput
                formControlName="breakTime"
                name="breakTime"
                type="number"
                placeholder="Introduzca el tiempo de descanso..."
              />
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="outline">
              <mat-label>Tiempo de entrenamiento (días):</mat-label>
              <input
                matInput
                matTooltip="Introduzca el nº de días de entrenamiento"
                formControlName="trainingDuration"
                name="breakTime"
                type="number"
                placeholder="Introduzca el nº de días de entrenamiento..."
              />
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
              <mat-label>Seleccionar ejercicios:</mat-label>
              <mat-select
                formControlName="listTraining"
                name="listTraining"
                multiple
              >
                <mat-option
                  *ngFor="let training of listTraining"
                  [value]="training"
                  >{{ training.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Inicio de la tabla</mat-label>
              <input
                matInput
                [matDatepicker]="pickerInitDate"
                formControlName="initDate"
                required
                name="initDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerInitDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerInitDate></mat-datepicker>

              <mat-error *ngIf="isValidField('initDate')">
                {{ getFieldError("initDate") }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Finalización de la tabla</mat-label>
              <input
                matInput
                required
                [matDatepicker]="pickerEndDate"
                formControlName="endDate"
                name="endDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerEndDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerEndDate></mat-datepicker>

              <mat-error *ngIf="isValidField('endDate')">
                {{ getFieldError("endDate") }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w100 mt20" appearance="outline">
              <mat-label>Seleccionar usuario</mat-label>
              <mat-select formControlName="user" name="user">
                <mat-option></mat-option>
                <mat-option *ngFor="let user of users" [value]="user.id">{{
                  user.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
              <mat-label>Observaciones:</mat-label>
              <textarea
                formControlName="observation"
                name="observation"
                matInput
                placeholder="Ej. Descripción breve de mejoras del usuario ..."
              ></textarea>
            </mat-form-field>

            <div class="container text-center">
              <button
                [disabled]="!myForm.valid"
                mat-raised-button
                color="primary"
              >
                <div
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <mat-icon>save</mat-icon>
                  Guardar
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
