<mat-card class="mt20">
  <h1>Crear una tabla de entrenamiento</h1>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100 mt20" appearance="outline">
              <mat-label>Nombre: </mat-label>
              <input
                required
                autofocus
                type="text"
                name="name"
                matInput
                placeholder="Introduzca el titulo de la tabla..."
                [(ngModel)]="table.name"
              />
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                name="description"
                placeholder="Introduzca una breve explicación ...."
                rows="15"
                [(ngModel)]="table.description"
              ></textarea>
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="outline">
              <mat-label>Tipo de entrenamiento</mat-label>
              <mat-select
                required
                name="trainingTypes"
                [(ngModel)]="table.typeTraining"
              >
                <mat-option></mat-option>
                <mat-option *ngFor="let t of trainingTypes" [value]="t">
                  {{ t }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="outline">
              <mat-label>Tiempo de descanso (seg):</mat-label>
              <input
                matInput
                [(ngModel)]="table.breakTime"
                name="breakTime"
                type="number"
                placeholder="Introduzca el tiempo de descanso..."
              />
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="outline">
              <mat-label>Tiempo de entrenamiento (días):</mat-label>
              <input
                matInput
                matTooltip="Introduzca el nº de días de entrenamiento"
                [(ngModel)]="table.trainingDuration"
                name="breakTime"
                type="number"
                placeholder="Introduzca el nº de días de entrenamiento..."
              />
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Seleccionar ejercicios:</mat-label>
              <mat-select
                [(ngModel)]="table.listTraining"
                name="listTraining"
                multiple
              >
                <mat-option
                  *ngFor="let training of listTraining"
                  [value]="training"
                  >{{ training.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-6 mt20" appearance="outline">
              <mat-label>Inicio de la tabla</mat-label>
              <input
                matInput
                [matDatepicker]="pickerInitDate"
                [(ngModel)]="table.initDate"
                required
                name="initDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerInitDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerInitDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Finalizacion de la tabla</mat-label>
              <input
                matInput
                required
                [matDatepicker]="pickerEndDate"
                [(ngModel)]="table.endDate"
                name="endDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerEndDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerEndDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
              <mat-label>Seleccionar usuario</mat-label>
              <mat-select [(ngModel)]="table.user" name="user" required>
                <mat-option></mat-option>
                <mat-option *ngFor="let user of users" [value]="user">{{
                  user.username
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
              <mat-label>Observaciones:</mat-label>
              <textarea
                [(ngModel)]="table.observation"
                name="observation"
                matInput
                placeholder="Ej. Descripción breve de mejoras del usuario ..."
              ></textarea>
            </mat-form-field>

            <div class="container text-center mt15">
              <button mat-raised-button color="primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
