<mat-card>
  <h1>Crear una tabla nueva</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Titulo</mat-label>
              <input
                required
                autofocus
                type="text"
                name="titulo"
                matInput
                placeholder="Introduzca el titulo de la tabla..."
                [(ngModel)]="table.name"
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                name="description"
                placeholder="Introduzca una breve explicación ...."
                rows="15"
                [(ngModel)]="table.description"
              ></textarea>
            </mat-form-field>

            <!-- Combo que trae de BBDD los datos -->
            <!-- <mat-form-field class="mt20 w100" appearance="fill">
              <mat-label>Eventos</mat-label>
              <mat-select name="eventos" [(ngModel)]="eventData.type.name">
                <mat-option *ngFor="let e of events" [value]="e.title">
                  {{ e.title }}</mat-option
                >
              </mat-select>
            </mat-form-field> -->

            <div class="container text-center mt15">
              <button mat-raised-button color="primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
