<div
  class="bootstrap-wrapper"
  style="
    background: url('../../../assets/image/fondo3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
  "
>
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/image/register.png" />
          </div>

          <h1 class="text-center">Regístrate aquí!!</h1>

          <form [formGroup]="userForm" (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label> Usuario </mat-label>
              <input
                required
                matInput
                formControlName="username"
                name="username"
                placeholder="Introduzca el nombre del usuario..."
              />
              <mat-hint>El nombre de usuario debe ser único</mat-hint>

              <mat-error *ngIf="userForm.get('username')?.hasError('required')"
                >El usuario es obligatorio introducirlo</mat-error
              >
            </mat-form-field>

            <mat-form-field class="mt10 full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input
                required
                matInput
                formControlName="password"
                name="password"
                type="password"
                placeholder="Introduzca la contraseña"
              />

              <mat-error *ngIf="userForm.get('password')?.hasError('required')"
                >La contraseña es obligatorio introducirlo</mat-error
              >
              <mat-error *ngIf="userForm.get('password')?.hasError('minlength')"
                >La contraseña debe tener al menos 8 caracteres</mat-error
              >
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nombre </mat-label>
              <input
                required
                matInput
                name="name"
                formControlName="name"
                placeholder="Introduzca su nombre..."
              />
              <mat-error *ngIf="userForm.get('name')?.hasError('required')"
                >El nombre es obligatorio introducirlo</mat-error
              >
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input
                required
                matInput
                name="surname"
                formControlName="surname"
                placeholder="Introduzca sus apellidos..."
              />

              <mat-error *ngIf="userForm.get('surname')?.hasError('required')"
                >Los apellidos es obligatorio introducirlo</mat-error
              >
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email:</mat-label>
              <input
                required
                formControlName="email"
                matInput
                name="email"
                type="email"
                placeholder="Ex. pat@example.com"
              />

              <mat-error *ngIf="userForm.get('email')?.hasError('required')"
                >El correo electrónico es obligatorio introducirlo</mat-error
              >
              <mat-error *ngIf="userForm.get('email')?.hasError('email')"
                >Correo electrónico no es válido</mat-error
              >
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Número de teléfono</mat-label>
              <input
                required
                matInput
                formControlName="phone"
                name="phone"
                placeholder="Introduzca el número de teléfono..."
              />
              <mat-error *ngIf="userForm.get('phone')?.hasError('required')"
                >El teléfono es obligatorio introducirlo</mat-error
              >
              <mat-error *ngIf="userForm.get('phone')?.hasError('pattern')"
                >El teléfono debe contener solo números</mat-error
              >
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Fecha de nacimiento:</mat-label>
              <input
                matInput
                required
                formControlName="birthDate"
                [matDatepicker]="picker"
                name="birthDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error *ngIf="userForm.get('birthDate')?.hasError('required')"
                >La fecha de nacimiento es obligatorio introducirlo</mat-error
              >
              <mat-error
                *ngIf="userForm.get('birthDate')?.hasError('fechaInvalida')"
              >
                Fecha de nacimiento no válida
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-6 mt20" appearance="outline">
              <mat-label>Altura (cm):</mat-label>
              <input
                matInput
                name="height"
                formControlName="height"
                type="number"
                placeholder="Introduzca la altura..."
              />
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Peso (kg):</mat-label>
              <input
                matInput
                formControlName="weight"
                name="height"
                type="number"
                placeholder="Introduzca el peso..."
              />
            </mat-form-field>

            <div class="container text-center">
              <button
                mat-raised-button
                color="primary"
                [disabled]="!userForm.valid"
              >
                Registrar
              </button>
              <button
                type="reset"
                style="margin-left: 20px"
                mat-raised-button
                color="accent"
              >
                Limpiar
              </button>
            </div>
          </form>
        </mat-card>

        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
