<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mt20">
          <mat-card-header>
            <mat-card-title>
              Lea las instrucciones de esta página cuidadosamente
            </mat-card-title>
          </mat-card-header>

          <mat-card-subtitle>
            Aquí se hará una breve explicación para que el usuario pueda hacer
            un buen uso de la aplicación, asi como de las tablas de
            entrenamiento
          </mat-card-subtitle>

          <mat-card-content class="ml30">
            <br />
            <u>
              <h1>Intrucciones importantes</h1>
            </u>

            <ul>
              <li>
                Esta tabla de entrenamiento esta adaptada para cada usuario
              </li>
              <li>
                La duración del entrenamiento estara indicada en la parte
                <b>Fecha de inicio</b> y <b>Fecha fin </b>
                <!-- <i>
                  Ej: (Fecha de inicio: {{ table.initDate }} y Fecha fin:
                  {{ table.endDate }})</i
                > -->
              </li>
            </ul>

            <mat-divider></mat-divider>

            <br />

            <u>
              <h1>Intrucciones importantes sobre las <b> Máquinas</b></h1>
            </u>
            <ul>
              <li>
                Podras indicar si te ha <b> <i>gustado</i></b> una máquina, para
                en un futuro añadirtelo en futuros entrenamientos
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto velit perferendis accusamus ab sint rem sapiente
                ullam numquam aperiam, quidem reiciendis voluptas, earum eum
                nostrum impedit. Eaque doloremque facere autem.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto velit perferendis accusamus ab sint rem sapiente
                ullam numquam aperiam, quidem reiciendis voluptas, earum eum
                nostrum impedit. Eaque doloremque facere autem.
              </li>
            </ul>

            <mat-divider></mat-divider>
            <br />

            <u>
              <h1>
                Intrucciones importantes sobre las
                <b> Tablas de entrenamiento</b>
              </h1>
            </u>
            <ul>
              <li>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Quidem, qui?
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto velit perferendis accusamus ab sint rem sapiente
                ullam numquam aperiam, quidem reiciendis voluptas, earum eum
                nostrum impedit. Eaque doloremque facere autem.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, unde
                voluptate. Voluptates at error placeat distinctio ipsam dicta
                optio omnis!
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
