<mat-card class="mt20">
  <h1>Crear Ejercicio</h1>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form [formGroup]="myForm" (ngSubmit)="createTraining()">
            <mat-form-field class="w100 mt20" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input
                formControlName="name"
                type="text"
                name="name"
                placeholder="Introduzca el título.."
                required
                matInput
              />
              <mat-error *ngIf="isValidField('name')">
                {{ getFieldError("name") }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w100 mt10" appearance="fill">
              <mat-label>Descripción</mat-label>
              <textarea
                formControlName="description"
                type="text"
                name="descripción"
                placeholder="Introduzca la descripción"
                matInput
                rows="8"
              ></textarea>
            </mat-form-field>

            <mat-form-field class="w100" appearance="fill">
              <mat-label>Tipo de entrenamiento</mat-label>
              <mat-select name="trainingTypes" formControlName="typeTraining">
                <mat-option></mat-option>
                <mat-option *ngFor="let t of trainingTypes" [value]="t">
                  {{ t }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field
              *ngIf="gymMachines.length != 0"
              class="w100"
              appearance="fill"
            >
              <mat-label>Máquinas de entrenamiento</mat-label>
              <mat-select name="gymMachine" formControlName="gymMachine">
                <mat-option></mat-option>
                <mat-option *ngFor="let g of gymMachines" [value]="g">
                  {{ g.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w100" appearance="fill">
              <mat-label>Seleccionar usuario</mat-label>
              <mat-select formControlName="user" name="user">
                <mat-option></mat-option>
                <mat-option *ngFor="let user of users" [value]="user.id">{{
                  user.username
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="fill">
              <mat-label>Número de repeticiones</mat-label>
              <input
                type="number"
                formControlName="numRepetitions"
                name="numRepetitions"
                matInput
              />
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="fill">
              <mat-label>Numero de series</mat-label>
              <input
                formControlName="numSeries"
                type="number"
                name="numSeries"
                matInput
              />
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="fill">
              <mat-label>Calorías quemadas :</mat-label>
              <input
                formControlName="caloriesBurned"
                type="number"
                name="caloriesBurned"
                matInput
              />
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="fill">
              <mat-label>Zona ejercitada</mat-label>
              <input
                formControlName="exercisedArea"
                type="text"
                name="exercisedArea"
                placeholder="Introduzca la zona ejercitada.."
                matInput
              />
            </mat-form-field>

            <mat-slide-toggle
              class="col-md-6"
              name="supervised"
              formControlName="supervised"
              color="accent"
            >
              ¿Necesita supervision del monitor?</mat-slide-toggle
            >

            <div class="container text-center">
              <button
                [disabled]="!myForm.valid"
                mat-raised-button
                color="primary"
              >
                <div
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <mat-icon>save</mat-icon>
                  Guardar
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Mirar el objeto  -->
<!-- {{ training | json }} -->
