<mat-card class="mt20">
  <h1>Crear Ejercicio</h1>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit)="createTraining()">
            <mat-form-field class="w100 mt20" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input
            [(ngModel)]="training.name"
            type="text"
            name="name"
            placeholder="Introduzca el título.."
            required
            matInput
          />
        </mat-form-field>

        <mat-form-field class="w100" appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea
            [(ngModel)]="training.description"
            type="text"
                name="descripción"
            placeholder="Introduzca la descripción"
            matInput
            rows="8"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="w100" appearance="fill">
          <mat-label>Tipo de entrenamiento</mat-label>
          <mat-select name="trainingTypes" [(ngModel)]="training.typeTraining">
            <mat-option></mat-option>
            <mat-option *ngFor="let t of trainingTypes" [value]="t">
              {{ t }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="gymMachines.length != 0"
          class="w100"
          appearance="fill"
        >
          <mat-label>Máquinas de entrenamiento</mat-label>
          <mat-select name="gymMachine" [(ngModel)]="training.gymMachine">
            <mat-option></mat-option>
            <mat-option *ngFor="let g of gymMachines" [value]="g">
              {{ g.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

            <mat-form-field class="w100" appearance="fill">
          <mat-label>Seleccionar usuario</mat-label>
          <mat-select [(ngModel)]="training.user" name="user">
            <mat-option></mat-option>
            <mat-option *ngFor="let user of users" [value]="user">{{
              user.username
            }}</mat-option>
          </mat-select>
        </mat-form-field>

            <mat-form-field class="col-md-4" appearance="fill">
              <mat-label>Número de repeticiones</mat-label>
              <input
                [(ngModel)]="training.numRepetitions"
                type="number"
                name="numRepetitions"
                matInput
              />
            </mat-form-field>

            <mat-form-field class="col-md-4" appearance="fill">
              <mat-label>Numero de series</mat-label>
              <input
                [(ngModel)]="training.numSeries"
                type="number"
                name="numSeries"
                matInput
              />
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="w100" appearance="fill">
          <mat-label>Zona ejercitada</mat-label>
          <input
            [(ngModel)]="training.exercisedArea"
            type="text"
            name="exercisedArea"
            placeholder="Introduzca la zona ejercitada.."
            matInput
          />
        </mat-form-field>

        <div class="container text-center">
          <button mat-raised-button color="primary">Crear ejercicio</button>
        </div>
      </form>
    </div>
  </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Mirar el objeto  -->
<!-- {{ training | json }} -->
