.w100{
    width: 100%;
}

.card{
    display: contents;
}

.box{
    background-color: aliceblue;
}

.headerTitle{
    justify-content: center;
    font-weight: bold;
}

.content{
    text-align: end;
    font-style: oblique;
    font-family: fantasy;
    text-decoration: overline;
}

.machine{
    background: lavender;
    border-radius: 20px;
}

.cursorHand{
    cursor: pointer;
}

span{
    color: crimson;
    font-style: oblique;
    font-weight: bold;
}

