<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>

    <button mat-list-item routerLink="/admin">
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
    </button>

    <button mat-list-item routerLink="/admin/users">
      <mat-icon mat-list-icon>people</mat-icon> Usuarios
    </button>

    <button mat-list-item routerLink="/admin/gym-machines">
      <mat-icon mat-list-icon>fitness_center</mat-icon> Maquinas
    </button>

    <button mat-list-item routerLink="/admin/create-gym-machines">
      <mat-icon mat-list-icon>add_circle</mat-icon> Crear Maquina
    </button>

    <button mat-list-item routerLink="/admin/trainings">
      <mat-icon mat-list-icon>directions_run</mat-icon> Ejercicios
    </button>

    <button mat-list-item routerLink="/admin/create-training">
      <mat-icon mat-list-icon>add_circle_outline</mat-icon> Crear Ejercicio
    </button>

    <button mat-list-item routerLink="/admin/tables">
      <mat-icon mat-list-icon>list</mat-icon> Tablas de Ejercicios
    </button>

    <button mat-list-item routerLink="/admin/create-table">
      <mat-icon mat-list-icon>note_add</mat-icon> Crear tabla de ejercicios
    </button>

    <button mat-list-item routerLink="/admin/events">
      <mat-icon mat-list-icon>event</mat-icon>
      Eventos
    </button>

    <button mat-list-item routerLink="/admin/create-event">
      <mat-icon mat-list-icon>add_box</mat-icon> Crear evento
    </button>

    <button mat-list-item (click)="logout()">
      <mat-icon mat-list-icon>logout</mat-icon> Salir
    </button>
  </mat-action-list>
</mat-card>
