<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>

    <button mat-list-item routerLink="/admin">
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
    </button>

    <button mat-list-item routerLink="/admin/tables">
      <mat-icon mat-list-icon>list</mat-icon> Tablas
    </button>

    <button mat-list-item routerLink="/admin/create-table">
      <mat-icon mat-list-icon>add_circle_outline</mat-icon> Crear tabla
    </button>

    <button mat-list-item routerLink="/admin/events">
      <mat-icon mat-list-icon>event</mat-icon> Eventos
    </button>

    <button mat-list-item routerLink="/admin/create-event">
      <mat-icon mat-list-icon>add_box</mat-icon> Crear evento
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>logout</mat-icon> Salir
    </button>
  </mat-action-list>
</mat-card>
